{
  "extends": ["eslint-config-unjs"],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": 0,
    "multiline-ternary": 0,
    "unicorn/prefer-top-level-await": 0,
    "unicorn/no-null": 0,
    "unicorn/expiring-todo-comments": 0
  }
}